.reminder {
  color: #00918e;
  position: relative;
  font-size: 16px;
  padding: 3px 5px;
  margin-bottom: 5px;
  background: #6decb9;
  border-radius: 4px;
  &:hover {
    .tools {
      visibility: visible;
    }
  }

  strong {
    display: block;
  }

  .tools {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    background: #42dee1;
    padding: 2px 3px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    border-radius: 4px;

    button {
      float: right;

      .fas {
        color: #fff;
        font-size: 14px;
      }
    }
  }
}
