@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

$colors: (
  red: #DB2828,
  orange: #F2711C,
  yellow: #FBBD08,
  olive: #B5CC18,
  green: #21BA45,
  teal: #00B5AD,
  blue: #2185D0,
  violet: #6435C9,
  purple: #A333C8,
  pink: #E03997,
  primary:#5e72e4,
  secondary:#656768,
  success:#2dce89,
  info:#11cdef,
  warning:#fb6340,
  danger:#f5365c,
  light:#adb5bd,
  dark:#212529,
  default:#172b4d,
  darker:black,
  indigo: #5603ad,
  cyan: #2bffc6,
  gray: #8898aa,
  gray-dark: #32325d,
  lighter: #e9ecef,
);

* {
  box-sizing: border-box;
}

#menuToggle {
  overflow: hidden;
  margin-top: 6px;
  width: 45%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menuToggle span{
  width: 35px;
  height: 5px;
  margin-bottom: 5px;
  background: #b0bdcf;
  border-radius: 3px;
  -webkit-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -moz-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -ms-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  -o-transition: all .5s cubic-bezier(.08,.81,.87,.71);
  transition: all .5s cubic-bezier(.08,.81,.87,.71);
}

.radioInput[type="radio"] {
  display: none;
  &:checked + label {
    span{ transform: scale(1.25); }
    @each $name, $value in $colors {
      .#{$name} {
        border: 2px solid darken($value, 25%);
      }
    } // !@each
  } // !&:checked + label
}

.radioLabel {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    span { 
      transform: scale(1.25); 
    }
  }

  .radioSpan {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
    @each $name, $value in $colors {
      &.#{$name} {
        background: $value;
      }
    }
  }
}

.radioLabelList {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;

  .radioSpanList {
    display: block;
    width: 100%;
    height: 100%;
    @each $name, $value in $colors {
      &.#{$name} {
        background: $value;
      }
    }
  }
}