.reminder {
  position: relative;
  font-size: 11px;
  padding: 2px 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    .tools {
      visibility: visible;
    }
  }

  strong {
    display: block;
  }

  .tools {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    background: #42dee1;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    border-radius: 3px;

    button {
      float: right;
      margin-left: 0px;
      background: none;
      border: 0;
      outline: 0;
      cursor: pointer;
      margin-left: 0px;
      
      .fas {
        color: #fff;
        font-size: 13px;
      }
    }
  }
}

