
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.month {
  font: normal 16px "Montserrat", sans-serif;
  padding: 15px;
  background: linear-gradient(
      to right top,
      #004d7a,
      #00c1d3,
      #00c1d3,
      #a8eb12
    )
    no-repeat;
  background-attachment: fixed;
  .days {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    margin-top: -3px;
  }
}
