
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}




.month {
  font: normal 16px "Montserrat", sans-serif;
  
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background: #ffffff;
  background-attachment: fixed;
  margin-bottom: auto;
  .days {
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    flex-wrap: wrap;
    margin-top: -3px;
  }
}
