
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}




.month {
  font: normal 16px "Montserrat", sans-serif;
  min-height: 200px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background: #ffffff;
  background-attachment: fixed;
  margin-bottom: auto;
  .days {
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    flex-wrap: wrap;
    margin-top: -3px;
    min-height: 250px;
  }
}


.h2toplam {
  color: black;
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.h2toplam span { 
   background:#fff; 
   padding:0 10px; 
}